body {
    background-repeat: no-repeat;
    background-position-x: center;
    /*background-position-y: -5%;*/
    background-size: 90%;
    font-family: Poppins-Regular;
    overflow-x: hidden;
}

.input-param {
    width: 300px;
    height: 50px;
}

.wrapper {
    padding: 15% 60px;
    width: 40%;
    line-height: normal;
}

.wrapper-2 {
    padding: 30% 60px;
    line-height: normal;
    margin-top: -5vw;
}

.wrapper-3 {
    padding: 20% 60px 300px 55%;
    line-height: normal;
}

.wrapper h1 {
    display: inline-block;
    vertical-align: middle;
    color: #242F51;
    font-size: 25px;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 20ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

/* =============================== submit button =============================== */
.btn-container {
    width: 20vw;
    height: 10vw;

    position: relative;
    left: 30%;
    margin-top: 3vw;
}

.submit-btn {
    display: inline-block;

    width: 10vw;
    height: 3vw;

    padding: 0.35em 1.2em;
    border: 0.1em solid #3E9996;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    color: white;
    background-color: #3E9996;
    text-align: center;
    transition: all 0.2s;
}

.submit-btn:hover {
    color: #02741e;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    .submit-btn {
        display: block;
        margin: 0.4em auto;
    }
}

/* result table */
.result-table {
    position: relative;
    left: 52vw;
    bottom: 21vw;
}

.result-table h2 {
    margin-left: 7vw;
    margin-bottom: 1vw;
    font-weight: bold;
    font-size: 2vw;
}

.result-table2 {
    position: relative;
    margin-top: -18vw;
}

.cell {
    width: 15vw;
    text-align: center;
}