<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main_page_styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
<main>
    <ol class="gradient-list">
        <li > <a href="./request1">For agronomist find all customers that he sold them products from date
            to date</a> </li>
        <li><a href="./request2">For customer find all products that he bought from date to date</a></li>
        <li > <a href="./request3">For customer find all agronomists that conducted a degustation for him
            at least N times from date to date</a> </li>
        <li><a href="./request4">For agronomist  find all agronomists with whom he went on a business trip
            from date to date</a></li>
        <li > <a href="./request5">For customer find all agronomists that conducted at least one degustation
            for him from date to date</a> </li>
        <li><a href="./request6">Find all customers that bought at least N different products from date
            to date</a></li>
        <li > <a href="./request7">Find all agronomists who harvested at least N sorts of weed from date
            to date</a> </li>
        <li><a href="./request8">Find all common degustations for customer and agronomist from date
            to date</a></li>
        <li > <a href="./request9">For agronomist and each product that he made a degustation, find how many
            times he made it for at least N customers from date to date</a> </li>
        <li><a href="./request10">For customer find all feedbacks for each month, that he created from date
            to date</a></li>
        <li > <a href="./request11">Find sorts of weed in descending order for average times of business trips
            of agronomists that harvested for this customer at least N times from date to date</a> </li>
        <li><a href="./request12">Find products that were bought at least N times by different customers
            in descending order of percentage of returns from date to date</a></li>
        <li><a href="./money1">(Extra query) For customer C display the amounts of money for which he bought products from different
            agronomists, in the specified period (from date F to date T)</a></li>
        <li><a href="./money2">(Extra query) For agronomist A print the profit for the specified period (from date F to date T)</a></li>
    </ol>
  </main>
</body>

</html>