<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/main_page_styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>

<body>
<main>
    <ol class="gradient-list">
      <li > <a href="./request1">Для агронома A знайти усiх споживачiв, яким вiн продавав продукт хоча б N разiв завказаний
        перiод (з дати F по дату T)</a> </li>
      <li><a href="./request2">Для споживача С знайти усi продукти, якi вiн придбав
        за вказаний перiод (з дати F по дату T)</a></li>
      <li > <a href="./request3">Для споживача С знайти усiх агрономiв, якi проводили для нього дегустацiю хоча б N разiв за
        вказаний перiод (з дати F по дату T)</a> </li>
      <li><a href="./request4">Для агронома А знайти усiх агрономiв, з якими вiн їздив у вiдрядження протягом
        вказаного перiоду (з дати F по дату T)</a></li>
      <li > <a href="./request5">Для споживача С знайти усiх агрономiв, якi продали йому хоча б щось та провели для
        нього хоча б одну дегустацiю протягом вказаного перiоду (з дати F по дату T)</a> </li>
      <li><a href="./request6">Знайти усiх споживачiв, якi купили щонайменше N рiзних продуктiв за вказаний перiод
        (з дати F по дату T)</a></li>
    </ol>
  </main>
</body>

</html>