<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppLab</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">

    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">

    <link href="../static/css/request_styles.css" rel="stylesheet" type="text/css">

</head>

<body style="background-image: url('../static/images/money_page.png');">

<div class="wrapper">

    <div id="button-back"><a href="/">Home page</a></div>

    <h1>For customer </h1>

    <form action="{{ url_for('money_page_action1') }}" method="post">
        <select class="select" name="cust_id" id="" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for customer in customer_lst %}
                {% if selected_cust_id == customer.customer_id %}
                    <option value="{{ customer.customer_id }}" selected>{{ customer.customer_name }}</option>
                {% else %}
                    <option value="{{ customer.customer_id }}">{{ customer.customer_name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <h1> display the amounts of money for which he bought products from different agronomists, </h1>

        <h1> in the specified period: from </h1>
        {% if selected_from_date == "-" %}
            <input class="select" type="date" name="from_date" class="date-picker">
        {% else %}
            <input class="select" type="date" name="from_date" class="date-picker" value="{{ selected_from_date }}">
        {% endif %}

        <h1> to </h1>
        {% if selected_to_date == "-" %}
            <input class="select" type="date" name="to_date" class="date-picker">
        {% else %}
            <input class="select" type="date" name="to_date" class="date-picker" value="{{ selected_to_date }}">
        {% endif %}

        <div class="btn-container">
            <input class="submit-btn" type="submit" name="submit_button" value="Submit">
        </div>

        <div class="result-table">
            <h2>Result</h2>
            <table cellspacing="0" cellpadding="0" border="0" width="325">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="1" border="1" width="300">
                            <tr style="color:white;background-color:grey">
                                <th class="cell">{{ table_cols[0] }}</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:320px; height:160px; overflow:auto;">
                            <table cellspacing="0" cellpadding="1" border="1" width="300">
                                {% for sum in total_sum %}
                                    <tr>
                                        <td class="cell">{{ sum }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

</body>
</html>
