<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppLab</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css" >

    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">

    <link href="../static/css/request_styles.css" rel="stylesheet" type="text/css">

</head>

<body style="background-image: url('../static/images/request1.png');">

<div class="wrapper">
    <h1>For customer </h1>

<!--    <form action="{{ url_for('request1_handle') }}" method="post">-->
    <select class="select" name="ag_id" id="" onfocus='this.size=5;' onblur='this.size=1;'
            onchange='this.size=1; this.blur();'>
        {% for id, name in agronom_lst %}
            <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
    </select>

            <h1> find all feedbacks for each month, that he created from: </h1>
    <input class="select" type="date" name="date-of-birth" class="date-picker">

                <h1> to: </h1>
    <input class="select" type="date" name="date-of-birth" class="date-picker">
</div>

</body>
</html>
