<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppLab</title>
    <link href="../static/css/reset.css" rel="stylesheet" type="text/css">

    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">

    <link href="../static/css/request_styles.css" rel="stylesheet" type="text/css">

</head>

<body style="background-image: url('../static/images/request1.png');">

<div class="wrapper">
    <h1>For agronomist </h1>

    <form action="{{ url_for('request_page_action1') }}" method="post">
        <select class="select" name="agronom_id" id="" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for id, name in agronom_lst %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>

        <h1> find all customers that he sold them products </h1>

        <select class="select" name="sold_times" id="1" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for i in range(1, 11) %}
            {% if i == 1 %}
            <option value="{{ i }}" selected>{{ i }}</option>
            {% endif %}

            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <h1> times for dates: from </h1>
        <input class="select" type="date" name="from_date" class="date-picker">

        <h1> to </h1>
        <input class="select" type="date" name="to_date" class="date-picker">

        <div class="btn-container">
            <input class="submit-btn" type="submit" name="submit_button" value="Submit">
        </div>

        <table class="result-table" cellspacing="0" cellpadding="0" border="0" width="325">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="1" border="1" width="300">
                        <tr style="color:white;background-color:grey">
                            <th>Header 1</th>
                            <th>Header 2</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:320px; height:160px; overflow:auto;">
                        <table cellspacing="0" cellpadding="1" border="1" width="300">
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                            <tr>
                                <td>new item</td>
                                <td>new item</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>
