{% extends "base_request.html" %}
{% block content %}

<body style="background-image: url('../static/images/req1.png');">

<div class="wrapper">
<!--    <div class="input-param">-->
    Для агронома

    <select name="" id="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;'
            onchange='this.size=1; this.blur();'>
        <option value="">Option1</option>
        <option value="">Jack</option>
        <option value="">Three</option>
        <option value="">Four</option>
        <option value="">Five</option>
        <option value="">Six</option>
        <option value="">Seven</option>
        <option value="">Eight</option>
        <option value="">Nine</option>
        <option value="">Ten</option>
    </select>
<!--    </div>-->

    знайти усiх споживачiв, яким вiн продавав продукт хоча б
    <select name="" id="1" class="form-control" onfocus='this.size=5;' onblur='this.size=1;'
            onchange='this.size=1; this.blur();'>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">Three2</option>
        <option value="">Four0</option>
        <option value="">Five</option>
        <option value="">Six</option>
        <option value="">Seven</option>
        <option value="">Eight</option>
        <option value="">Nine</option>
        <option value="">Ten</option>
    </select>

    разiв завказаний перiод (з дати
    <input type="date" name="date-of-birth" class="date-picker">

    по дату
    <input type="date" name="date-of-birth" class="date-picker">
    )
</div>


<div style="margin-top: 200px; width: 100px; height: 50px;">
<select name="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;'
        onchange='this.size=1; this.blur();'>
    <option value="">Option1</option>
    <option value="">Jack</option>
    <option value="">Three</option>
    <option value="">Four</option>
    <option value="">Five</option>
    <option value="">Six</option>
    <option value="">Seven</option>
    <option value="">Eight</option>
    <option value="">Nine</option>
    <option value="">Ten</option>
</select>
</div>

</body>

{% endblock %}