{% extends "base_request.html" %}
{% block content %}

<body style="background-image: url('../static/images/req2.png');">

<div class="wrapper" id="wrapper-req2">
    Для споживача
    <form action="{{ url_for('request2_handle') }}" method="post">

        <select name="cus_id" id="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for id, name in customer_lst %}
                <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select>

        знайти усi продукти, які вiн придбав за вказаний перiод (з дати
        <input type="date" name="date_start" class="date-picker">

        по дату
        <input type="date" name="date_end" class="date-picker">
        )


        <button class="button">Click to process</button>
    </form>
</div>

</body>

{% endblock %}