<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AppLab</title>

    <link href="../static/css/reset.css" rel="stylesheet" type="text/css" >
    <link href="../static/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../static/css/request_styles.css" rel="stylesheet" type="text/css">

</head>

<body style="background-image: url('../static/images/request3.png');">

<div class="wrapper wrapper-3">
    <h1>Для користувача </h1>

    <form action="{{ url_for('request_page_action3') }}" method="post">
        <select class="select" name="cust_id" id="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for id, name in customer_lst %}
                {% if selected_cust_id == id %}
                <option value="{{ id }}" selected>{{ name }}</option>
                {% else %}
                <option value="{{ id }}">{{ name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <h1>знайти усіх агрономів, які проводили для нього дегустацію хоча б </h1>
            <select class="select" name="deg_times" id="1" onfocus='this.size=5;' onblur='this.size=1;'
                onchange='this.size=1; this.blur();'>
            {% for i in range(0, 11) %}
                {% if i == deg_times %}
                    <option value="{{ i }}" selected>{{ i }}</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <h1> times for dates: from </h1>
        {% if selected_from_date == "-" %}
        <input class="select" type="date" name="from_date" class="date-picker">
        {% else %}
        <input class="select" type="date" name="from_date" class="date-picker" value="{{ selected_from_date }}">
        {% endif %}

        <h1> to: </h1>
        {% if selected_to_date == "-" %}
        <input class="select" type="date" name="to_date" class="date-picker">
        {% else %}
        <input class="select" type="date" name="to_date" class="date-picker" value="{{ selected_to_date }}">
        {% endif %}

        <div class="btn-container">
            <input class="submit-btn" type="submit" name="submit_button" value="Submit">
        </div>

        <div class="result-table result-table3">
            <h2>Result</h2>
            <table cellspacing="0" cellpadding="0" border="0" width="325">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="1" border="1" width="300">
                            <tr style="color:white;background-color:grey">
                                <th class="cell">{{ table_cols[0] }}</th>
                                <th class="cell">{{ table_cols[1] }}</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:320px; height:160px; overflow:auto;">
                            <table cellspacing="0" cellpadding="1" border="1" width="300">
                                {% for id, name in agronomists %}
                                <tr>
                                    <td class="cell">{{ id }}</td>
                                    <td class="cell">{{ name }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>>
</div>

</body>
</html>
